@charset "UTF-8";
select[data-ss-uuid] {
  position: absolute;
  height: 0;
  outline: none;
  visibility: hidden;
  pointer-events: none; }

.touch select[data-ss-uuid] {
  visibility: visible;
  pointer-events: all;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; }

.style-select {
  display: block;
  position: relative; }
  .style-select, .style-select > * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: left;
    font-size: 14px;
    color: #555;
    font-weight: 300;
    cursor: pointer; }
  .style-select .ss-selected-option {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #c8c8c8;
    background-color: #fff; }
    .style-select .ss-selected-option::after {
      content: "◢";
      position: absolute;
      bottom: 0px;
      right: 6px;
      display: block;
      font-size: 10px;
      color: #828c92;
      transition: color 0.2s; }
  .style-select .ss-dropdown {
    top: 40px;
    left: 0;
    z-index: 1;
    position: absolute;
    float: left;
    width: 100%;
    display: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border: 1px solid #c8c8c8;
    border-top: 0 none;
    box-sizing: border-box; }
    .style-select .ss-dropdown .ss-option {
      width: 100%;
      padding: 8px 10px;
      background-color: white;
      box-sizing: border-box; }
      .style-select .ss-dropdown .ss-option.highlighted {
        background-color: #f2f4f8; }
      .style-select .ss-dropdown .ss-option.disabled {
        color: #d0d0d0; }
      .style-select .ss-dropdown .ss-option.ticked {
        color: #333;
        background-color: #ccc; }
  .style-select.open .ss-dropdown {
    display: block; }
  .style-select.open .ss-selected-option::after {
    color: #c8c8c8; }
