$highlight-color: rgb(242, 244, 248);
$dropdown-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

$standard-border: 1px solid #c8c8c8;

// Hide real select boxes which have seen styled.
select[data-ss-uuid] {
	position: absolute;
	height: 0;
	outline: none;
	visibility: hidden;
	pointer-events: none;
}
.touch select[data-ss-uuid] {
	visibility: visible;
	pointer-events: all;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.style-select {
	display: block;
	position: relative;

	// Set reasonable defaults on this element and its children
	&, * {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		text-align: left;
		font-size: 14px;
		color: #555;
		font-weight: 300;
		cursor: pointer;
	}

	.ss-selected-option {
		width: 100%;
		padding: 7px 10px;
		border: $standard-border;
		// The down arrow
		&::after {
			content: "◢";
			position: absolute;
			bottom: 0px;
			right: 6px;
			display: block;
			font-size: 10px;
			color: #828c92;
			transition: color 0.2s;
		}
	}

	.ss-dropdown {
		top: 40px;
		left: 0;
		position: absolute;
		float: left;
		width: 100%;
		display: none;
		box-shadow: $dropdown-shadow;
		border: $standard-border;
		border-top: 0 none;
		.ss-option {
			width: 100%;
			padding: 7px 10px;
			background-color: white;
			// We don't use :hover as that's only for mouse
			// and we want keyboard highlighting too
			&.highlighted {
				background-color: $highlight-color;
			}
			&.disabled {
				color: #d0d0d0;
			}
			&.ticked {
				color: #333;
				background-color: #ccc;
			}
		}
	}

	&.open {
		.ss-dropdown {
			display: block;
		}
		.ss-selected-option::after {
			color: #c8c8c8;
		}
	}

}
